<template>  <div class="w-full flex items-center sm:flex-row flex-col justify-center h-screen">
  <div class="w-full flex flex-col sm:flex-row items-center justify-center">
    <BludtzHome/>
    <HelloWorld msg="Bludtz !" />
  </div>
  <div class="w-full py-16 sm:py-0 sm:px-28">
    <ResetPassword />
  </div>
</div>
</template>

<script setup lang="ts">

import ResetPassword from "@/components/ResetPassword.vue";
import BludtzHome from "@/components/BludtzHome.vue";
import HelloWorld from "@/components/HelloWorld.vue";
</script>
