<template>
  <div class="bludtz-home"></div>
</template>

<script setup lang="ts">

</script>

<style scoped>
.bludtz-home{
  width: 260px;
  height: 260px;
  background-image: url(/img/bludtz-home.png);
  animation-name: hello;
  animation-duration: 1.5s;
  animation-timing-function: steps(10);
}

.bludtz-home:hover {
  animation-iteration-count:infinite
}

@keyframes hello {
  from { background-position: 0 0; }
  to { background-position: -2600px 0; }
}
</style>
