
<template>
  <div class="flex flex-col items-center sm:items-start py-3 mt-8 sm:mt-0">
    <h1 class="text-vert-two font-bold text-4xl">{{ msg }}</h1>
    <h3>
      Welcome in new tamagotchi world!
    </h3>
  </div>
</template>

<script setup lang="ts">
defineProps<{
  msg: string
}>()
</script>
