<template>
  <van-form v-if="!showCreatAccount" @submit="login" class="w-full p-0">
    <van-cell-group>
      <van-field
          v-model="email"
          name="email"
          label="Email"
          placeholder="Email"
          :rules="[{ required: true, message: 'Email is required' }]"
      />
      <van-field
          v-model="password"
          type="password"
          name="Password"
          label="Password"
          placeholder="Password"
          :rules="[{ required: true, message: 'Password is required' }]"
      />
    </van-cell-group>
    <div class="mt-2 flex justify-between items-center w-full">
      <div>
        <van-button type="default" native-type="submit" class="ml-2">
          Connect
        </van-button>
      </div>
      <div>
        <span @click="showSignIn" style="cursor: pointer;">No account yet</span>
        <span class="px-2">/</span>
        <span @click="activeResetPasswordPopup" style="cursor: pointer;">Reset password</span>
      </div>
    </div>
  </van-form>

  <van-form v-else @submit="register">
    <van-cell-group>
      <van-field
          v-model="username"
          name="Username"
          label="Username"
          placeholder="Username"
          :rules="[{ required: true, message: 'Username is required' }]"
      />
      <van-field
          v-model="email"
          name="email"
          label="Email"
          placeholder="Email"
          :rules="[{ required: true, message: 'Email is required' }]"
      />
      <van-field
          v-model="password"
          type="password"
          name="Password"
          label="Password"
          placeholder="Password"
          :rules="[{ required: true, message: 'Password is required' }]"
      />
    </van-cell-group>
    <div class="mt-2 flex justify-between items-center w-full">
      <van-button type="default" native-type="submit">
        Register
      </van-button>
      <span @click="showCreatAccount = false">Login</span>
    </div>
  </van-form>

  <van-notify v-model:show="showMessage" type="warning">
    <van-icon name="bell" style="margin-right: 4px;" />
    <p>{{message}}</p>
  </van-notify>

  <van-popup v-model:show="showResetPasswordPopup" class="px-8 py-4 bg-red w-full">
    <h2 class="text-xl mb-2">Reset password</h2>
    <van-form @submit="sendEmailToResetPassword">
      <van-cell-group>
        <van-field
            v-model="email"
            name="email"
            placeholder="Email"
            :rules="[{ required: true, message: 'Email is required' }]"
        />
      </van-cell-group>
      <div class="mt-2 flex justify-between items-center w-full">
        <div>
          <van-button type="default" native-type="submit" class="ml-2">
            Reset
          </van-button>
        </div>
      </div>
    </van-form>
  </van-popup>
</template>

<script setup lang="ts">
import { ref } from "vue";
import { useRouter } from 'vue-router'
import { postForgotPassword, postLogin, postRegister } from "@/services"

const router = useRouter();
const username = ref('');
const email = ref('');
const password = ref('');
const message = ref('');
const showMessage = ref(false);
const showResetPasswordPopup = ref(false);

const showCreatAccount = ref(false)

const activeResetPasswordPopup = () => {
  showResetPasswordPopup.value = true;
}

async function sendEmailToResetPassword () {
  await postForgotPassword(email.value)
      .then(() => {
        showResetPasswordPopup.value = false;
      })
      .catch((error) => {
        console.log(error)
        error.response.data.error.message ? message.value = error.response.data.error.message : message.value = '';
        showMessage.value = true;
        setTimeout(() => {
          showMessage.value = false;
        }, 2000);
      })
}

async function login () {
  await postLogin(email.value, password.value)
    .then(() => {
      router.push({ path: '/create'})
    })
    .catch((error) => {
      error.response.data.error.message ? message.value = error.response.data.error.message : message.value = '';
      showMessage.value = true;
      setTimeout(() => {
        showMessage.value = false;
      }, 2000);
    })
}

function showSignIn () {
  showCreatAccount.value = true;
}

async function register () {
  await postRegister(username.value, email.value, password.value)
      .then(() => {
        router.push({ path: '/create'})
      })
      .catch((error) => {
        error.response.data.error.message ? message.value = error.response.data.error.message : message.value = '';
        showMessage.value = true;
        setTimeout(() => {
          showMessage.value = false;
        }, 2000);
      })
}
</script>
