<template>
  <van-form @submit="resetPassword">
    <van-cell-group>
      <van-field
          v-model="password"
          type="password"
          name="password"
          placeholder="New password"
          :rules="[{ required: true, message: 'Password is required', matchingPasswords }]"
      />
      <van-field
          v-model="passwordConfirm"
          type="password"
          name="Password"
          placeholder="Confirm new password"
          :rules="[{ required: true, message: 'Password is required', matchingPasswords }]"
      />
    </van-cell-group>
    <div class="mt-2 flex justify-between items-center w-full">
      <van-button type="default" native-type="submit">
        Reset password
      </van-button>
    </div>
  </van-form>
  <van-notify v-model:show="showMessage" type="warning">
    <van-icon name="bell" style="margin-right: 4px;" />
    <p>{{message}}</p>
  </van-notify>
</template>

<script setup lang="ts">
import { ref } from "vue";
import { useRouter } from 'vue-router'
import { postResetPassword } from '@/services'

const router = useRouter();
const password = ref('');
const passwordConfirm = ref('');
const message = ref('');
const showMessage = ref(false)

function matchingPasswords () {
  if (password.value === passwordConfirm.value) {
    return true;
  } else {
    return 'Passwords does not match.';
  }
}

async function resetPassword () {
  const code = ref( new URL(window.location.href).searchParams.get("code") )
  await postResetPassword(code.value, password.value, passwordConfirm.value)
    .then((msg) => {
      message.value = msg;
      showMessage.value = true
      setTimeout(() => {
        showMessage.value = false;
      }, 2000);
      router.push({ path: '/'})
    })
    .catch((error) => {
      error.response.data.error.message ? message.value = error.response.data.error.message : message.value = '';
      showMessage.value = true;
      setTimeout(() => {
        showMessage.value = false;
      }, 2000);
    })
}

</script>

