#pixelart-css {
    width: 260px;
    height: 260px;
}

#pixelart-css:after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: transparent;
    box-shadow: 60px 40px #ffffff, 80px 40px #ffffff, 100px 40px #ffffff, 120px 40px #ffffff, 140px 40px #ffffff, 160px 40px #ffffff, 180px 40px #ffffff, 200px 40px #ffffff, 60px 60px #ffffff, 80px 60px #ffffff, 100px 60px #ffffff, 120px 60px #ffffff, 140px 60px #ffffff, 160px 60px #ffffff, 60px 80px #000000, 80px 80px #000000, 100px 80px #000000, 120px 80px #000000, 140px 80px #000000, 160px 80px #000000, 60px 100px #000000, 80px 100px #509b46, 100px 100px #509b46, 120px 100px #55c346, 140px 100px #65e255, 160px 100px #000000, 60px 120px #000000, 80px 120px #509b46, 100px 120px #509b46, 120px 120px #55c346, 140px 120px #65e256, 160px 120px #000000, 60px 140px #000000, 80px 140px #000000, 100px 140px #509b46, 120px 140px #55c346, 140px 140px #65e255, 160px 140px #000000, 80px 160px #000000, 100px 160px #509b46, 120px 160px #000000, 140px 160px #65e255, 160px 160px #000000, 80px 180px #000000, 100px 180px #509b46, 120px 180px #000000, 140px 180px #65e256, 160px 180px #000000, 80px 200px #000000, 100px 200px #509b46, 120px 200px #55c346, 140px 200px #65e256, 160px 200px #000000, 60px 220px #000000, 80px 220px #000000, 100px 220px #000000, 120px 220px #000000, 140px 220px #000000, 160px 220px #000000, 180px 220px #000000, 40px 240px #000000, 60px 240px #000000, 80px 240px #000000, 160px 240px #000000, 180px 240px #000000, 200px 240px #000000;

}

