@tailwind base;
@tailwind components;
@tailwind utilities;

:root:root {
  /*Flieds form*/
  --van-field-word-limit-line-height: 10px;
  --van-background: transparent;
  --van-background-2: rgba(255,255,255,0.1);
  --van-field-label-color: hsla(160, 100%, 37%, 1);
  --van-field-error-message-color: hsla(160, 100%, 37%, 1);
  --van-field-input-text-color: white;

  /* button */
  --van-button-default-color: hsla(160, 100%, 37%, 1);
  --van-button-default-height: 25px;

  /* Popup */
  --van-popup-background: rgba(0,0,0,0.6);
}

#app {
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: #EBEBEBA3;
  background-color: #464545FF;
  transition:
    color 0.5s,
    background-color 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
